<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{{page.title}} </title>
      <link rel="stylesheet" href="{{"assets/lib/leaflet.css" | relative_url}}"></link>
      <link rel="stylesheet" href="{{"assets/lib/bootstrap.min.css" | relative_url}}"></link>
      <link rel="stylesheet" href="{{"assets/lib/MarkerCluster.Default.css" | relative_url}}"></link>
      <link rel="stylesheet" href="{{"assets/css/main.css" | relative_url}}" />
      <script src="{{"assets/lib/popper.min.js" | relative_url}}"></script>
   </head>
   <body>
      <div id="content" class="content">
         <div class="header">
            <button class="filter-button" onclick="openNav()">&#9776;</button>
            <!-- <img class="cart-image" src="assets/lib/images/cart.png"/> -->
            <span class="spacer"></span>
            <span class="search">
               <form id="search-box">
                  <input type="search" placeholder="Start searching with keyword" aria-label="Search" />
               </form>
            </span>
            <span class="spacer"></span>
            <button class="feedback" onclick='window.open("https://bhavinjawade.github.io/SCC-Camera-App/", "_blank")'>📷</button>
         </div>
         <div class="main">
            <div id="map"></div>
         </div>
      </div>

      <div id="filter-bar" class="sidepanel">
         <div class="header">
            <button onclick="closeNav()">×</button>
            Data Sources/Filters
         </div>
         <hr class="hr-tag" />
         <div id="filter-div">
            <div class="filterLayer">Select Data</div>
         </div>
         <hr class="hr-tag" />
         <br />
         <div id="cash-filter-heading">
            <div class="filterLayer">
               Cash Type
               <div id="cash-filter">
                  <hr class="hr-tag" />
               </div>
               <br />
               <div class="form-check" id="noCashDiv" style="display: none">
                  <input
                     class="form-check-input"
                     name="paymentFilter"
                     type="checkbox"
                     value=""
                     onclick="userRequestedFilter(this)"
                     id="na"
                     />
                  <label class="form-check-label" for="NoCash">
                  Include "Maybe"s
                  </label>
               </div>
            </div>
         </div>
         <br />
         <div id="date-filter-heading">
            <div class="filterLayer">
               Availability
               <div id="availability-filter">
                  <hr class="hr-tag" />
               </div>
               <div class="form-check">
                  <input
                     class="form-check-input"
                     name="dateFilter"
                     type="checkbox"
                     value="false"
                     onclick="filterOpenToday(this)"
                     id="openToday"
                     />
                  <label class="form-check-label" for="openToday">
                  Is in season
                  </label>
               </div>
            </div>
         </div>
      </div>

   </body>
   <script src="{{ "assets/lib/leaflet.js" | relative_path }}"></script>
   <script type="text/javascript" src="{{"assets/lib/jquery-3.6.0.min.js" | relative_url}}"></script>
   <script type="text/javascript" src="{{"assets/lib/bootstrap.min.js" | relative_url}}"></script>
   <script src="{{"assets/lib/leaflet.markercluster.js" | relative_url}}"></script>
   <!-- <script src={{"assets/lib/charts.lib.js" | relative_url}}></script> -->
   <script type="text/javascript" src="{{"assets/scripts/main.js" | relative_url}}"></script>
   <!-- <script type="text/javascript" src={{"assets/scripts/pie-helper.js" | relative_url}}></script> -->
   <script type="text/javascript" src="{{"assets/lib/plugins/leaflet.ajax.min.js"| relative_url}}"></script>
</html>